.container > div {
    padding : 10px;
    text-align: center;
    font-size:2em;
    color:#ffeead
}
/* .conatiner > .search{
    padding:10px;
    text-align: center;
    font-size: 2em;
    color: #ffeead
} */
body{
    margin: 0;
}

html,body{
    box-sizing:border-box;
    height: 100%;
    background-color: #ffeead;
    padding: 10px;
}
/* 
.container > li{
    background-color: #96ceb4;
}
.search > input {
    background-color: #96ceb4;
} */
/* .container > li:nth-child(2) {
    background-color: #96ceb4;
}

.container > .search {
    background-color: #88d8b0;
}

.container > .search > .search-input{
    background-color: #88d8b0;
}


.container > li:nth-child(4) {
    background-color: #88d8b0;
} */